{% extends 'base.html' %}

{% block head %}
	<title>Animation</title>
{% endblock %}

{% block body %}
	<h1>Animation</h1>

	<a href=https://vimeo.com/271478482>Student Animated Short I worked on</a>
	
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe src="https://player.vimeo.com/video/261572893" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
		<div class="embed-responsive embed-responsive-16by9">
	  <iframe src="https://player.vimeo.com/video/253706530" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="embed-responsive embed-responsive-16by9">
	  <iframe src="https://player.vimeo.com/video/255117545" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://player.vimeo.com/video/253706752" width="640" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
		
	<div class="embed-responsive embed-responsive-16by9">
  	  <iframe src="https://player.vimeo.com/video/246698402" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	
		
{% endblock %}
