{% extends 'base.html' %}

{% block head %}
	<title>Artwork</title>
{% endblock %}

{% load static %}

{% block body %}
	<h1>Artwork</h1>
	<img src='{% static "home/jpgs/manman.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/skull.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/dad_and_me.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/boy.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/man_and_bones.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/bone.jpg" %}' class="img-fluid" alt="Test Image"/>
	
{% endblock %}
