{% extends 'base.html' %}

{% block head %}
	<title>Artwork</title>
{% endblock %}

{% load static %}

{% block body %}
	<h1>Analog Artwork</h1>
	<img src='{% static "home/jpgs/manman.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/boy.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/nosebleed.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/man_and_bones.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/tablemanfull.jpg" %}' class="img-fluid" alt="Test Image"/>
	<img src='{% static "home/jpgs/flowerpainting.jpg" %}' class="img-fluid" alt="Test Image"/>
{% endblock %}
