{% extends 'base.html' %}

{% block head %}
	<title>Research</title>
{% endblock %}

{% block body %}
	<h3>Self assembly of soft polymer spheres</h3>
<p>
  I worked from summer 2016 until fall 2017 under Professor Greg Grason on a geomtric model for the assembly of squishy polymer spheres into lattice structures based on energy minimization. The paper from this research is in the process of being published.
</p>
<p>
  A good deal of my time was spent learning the inner workings of a command line program called <a href="http://facstaff.susqu.edu/brakke/evolver/evolver.html">Surface Evolver</a> which deforms a given polygonal mesh in accordance with applied forces and constraints. I then wrote a lengthy python script to generate input files for any periodic structure. Following that, I wrote a script that would allow us to define a new energy as a function of the distance of structures surface elements to its center of mass, as was necessary to test our mathematical model.
</p>
{% endblock %}
