{% extends 'base.html' %}

{% block head %}
	<title>Coding</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
<h3>
	Coding Resources
</h3>
<p>
	A place to keep useful information and reminders for building and maintaining a website built with Django and Heroku. Hopefully will be of use to others as well.
</p>

<h5>
	Git
</h5>
<h6>
	Useful Commands
</h6>
<dl>
	<dt> git add . </dt>
	<dd> Adds all changes from last commit to stage </dd>
	<dt> git commit -m 'description of changes'</dt>
	<dd> commits all changes on stage to branch. must write in some description or it won't work</dd>
	<dt> git status </dt>
	<dd> displays branch name and staging </dd>
</dl>

</div>




{% endblock %}