{% extends 'base.html' %}

{% block head %}
	<title>Coding</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
<h3>
	Coding Resources
</h3>
<h5>
	Git
</h5>
<h6>
	Useful Commands
</h6>
<dl>
	<dt> git add . </dt>
	<dd> Adds all changes from last commit to stage. </dd>
	<dt> git commit -m 'description of changes'</dt>
	<dd> Commits all changes on stage to branch. Must write in some description or it won't work. </dd>
	<dt> git status </dt>
	<dd> Displays branch name and staging. </dd>
</dl>

</div>

{% endblock %}