{% extends 'base.html' %}

{% block head %}
	<title>Coding</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
<h3>
	Coding Resources
</h3>
<p>
	A place to keep useful information and reminders for building and maintaining a website built with Django and Heroku. Hopefully will be of use to others as well.
</p>

<h5>
	Using custom CSS with bootstrap
</h5>
<p>
	I use bootstrap and css together. In order for them to work together, I create a file called 'custom.css' and place it in my '/static' directory. The basic template I use for my nav bar can be found <a href="https://www.codeply.com/go/1ZFF5CEXM5/custom-navbar-color">here</a>. I use chrome, and in order to see my page update in development mode when I change my custom css I need to delete my chrome cache. To do this, press 'ctr'-'shift'-'del' and delete cache.
</p>


</div>




{% endblock %}