{% extends 'base.html' %}

{% block head %}
	<title>Houdini</title>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <h3>
    Houdini Resources
  </h3>

  <h5>
    Good websites
  </h5>

  <dl>
    <dt> <a href="http://www.tokeru.com/cgwiki/?title=Houdini">Tokeru's CGwiki</a> </dt>
    <dd>
      Not sure if Tokeru is meant to be a proper noun, but that's how I like to imagine it. Kind of like a Totoro that knows 3D software. Hands down #1 Houdini learning resource on the web.</dd>
    <dt> <a href="https://vimeo.com/119694897">Anatomy of a smoke solver</a></dt>
    <dd>
      Excellent break down of Houdini's smoke solver.</dd>
    <dt> <a href="https://houdinitricks.com/python-parameter-expressions-i/">Python Parameter Expressions</a>
    <dt> <a href="http://threedscans.com/"> Set of cool free 3D scans </a>
      <dd>Great collection. Not Houdini specific. I will probably include a general cg resources page soon.

  </dl>

  <h5> Tips </h5>
  <h6> Sops </h6>

  <ul>
    <li>"Blast is substantially faster than Delete. Much less overhead and far fewer features. If you have to delete geometry based on a selection or group mask, Blast is your tool of choice."-Jeff Wagner, 2009
  </ul>

    <ul>
    <li>Tip for network boxes: When expanding or collapsing a network box by holding CTRL while clicking on its + sign the surrounding nodes are shifted as well. This is so you don't end up spilling the contents of your network box all over some lower nodes or get a very long wire to the next node. However, this causes problems when you have nodes up stream that branch off. When you collapse the network box, nodes downstream the box are shifted up, but so are parallel branches of nodes. This might not be what you want. One way to get around this is to put a second network box around the first along with any other nodes you want to be adjusted and leaving out any part of the graph you do not want to be ajusted.
  </ul>
  
</div>



{% endblock %}
