{% extends 'base.html' %}

{% block head %}
	<title>Houdini</title>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <h3>
    Houdini Resources
  </h3>

  <h5>
    Good websites
  </h5>

  <dl>
    <dt> <a href="http://www.tokeru.com/cgwiki/?title=Houdini">Tokeru's CGwiki</a> </dt>
    <dd>
      Not sure if Tokeru is meant to be a proper noun, but that's how I like to imagine it. Kind of like a Totoro that knows 3D software. Hands down #1 Houdini learning resource on the web.</dd>
    <dt> <a href="https://vimeo.com/119694897">Anatomy of a smoke solver</a></dt>
    <dd>
      Excellent break down of Houdini's smoke solver.</dd>
    <dt> <a href="https://houdinitricks.com/python-parameter-expressions-i/">Python Parameter Expressions</a>
      <dd> 

  </dl>

  <h5> Tips </h5>
  <h6> Sops </h6>

  <ul>
    <li>"Blast is substantially faster than Delete. Much less overhead and far fewer features. If you have to delete geometry based on a selection or group mask, Blast is your tool of choice."-Jeff Wagner, 2009
  </ul>
  
</div>

{% endblock %}
