.navbar-custom {
    background-color: rgba(250, 250, 250, 1);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(55,55,55,1);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(55,55,55,1);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(1, 1, 1, 1);
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: rgba(250, 250, 250, 1);
}
.navbar-custom .dropdown-item {
    color: rgba(55,55,55,1);
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: rgba(1,1,1,1);
    background-color: rgba(255,255,255,.5);
}

figcaption { 
    display: block;
    font-size: 8pt;
}